@page
@model IndexModel
@{
    ViewData["Title"] = "Plagiarism Detector";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <label for="file1">Select file 1:</label>
    <input type="file" id="file1" name="file1" accept=".cs, .txt" />
    <br />
    <label for="file2">Select file 2:</label>
    <input type="file" id="file2" name="file2" accept=".cs, .txt" />
    <br />
    <label for="n">Size of de n-grams:</label>
    <input type="number" id="n" name="n" min="1" max="10" value="3" />
    <br />
    <input type="submit" value="Compare files" />
</form>

@if (Model.PlagiarismScore.HasValue)
{
    <h3>Results:</h3>
    <p>Possible plagiarism percentage: @Model.PlagiarismScore.Value%</p>
    <p>Download report: <a href="javascript:void(0);" id="downloadLink">Report.txt</a></p>
}

<script>
    document.getElementById("downloadLink").addEventListener("click", function () {
        window.location.href = "?handler=DownloadReport";
    });
</script>